* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
    --transition: 1s cubic-bezier(0.05, 0.5, 0, 1);
}

@font-face {
    font-family: 'Cormorant-Medium';
    src: url('../fonts/CormorantUnicase-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-VariableFont_wght.ttf') format('truetype');
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Cormorant-Medium', serif;
}

.layers {
    perspective: 1000px;
    overflow: hidden;
}

.layers__container {
    height: 100vh;
    min-height: 500px;
    transform-style: preserve-3d;
    transform: rotateX(var(--y)) rotateY(var(--x));
    will-change: transform;
    transition: transform var(--transition);
}

.layers_item {
    position: absolute;
    inset: -5vw;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.layer-1 {
    transform: translateZ(-55px) scale(1.36);
}

.layer-2 {
    transform: translateZ(80px) scale(.88);
}

.layer-3 {
    transform: translateZ(180px) scale(.9);
}

.layer-4 {
    transform: translateZ(190px) scale(.88);
}

.layer-5 {
    transform: translateZ(300px) scale(.88);
}

.layer-6 {
    transform: translateZ(480px) scale(.9);
}

.hero-content {
    font-size: calc(var(--index) * 2.4);
    text-align: center;
    text-transform: uppercase;
}

.hero-content p {
    font-family: 'Manrope', sans-serif;
    font-size: calc(var(--index) * .9);
}

.button-start {
    font-family: 'Cormorant-Medium', sans-serif;
    font-size: calc(var(--index) * 1);
    padding: calc(var(--index) * .5) calc(var(--index) * 1.5);
    border: 3px solid #ffffff;
    margin-top: calc(var(--index) * 6);
    background-color: transparent;
    color: #ffffff;
    border-radius: 10em;
}

.button-start:hover {
    background-color: rgb(255 255 255 / .4);
}s

.button-start:active {
    background-color: #ffffff;
    color: #000000;
}

.layer-4, .layer-5, .layer-6 {
    pointer-events: none;
}